# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"immersiveengineering:treated_wood"=true
    B:"undergroundbiomes:igneous_brick"=true
    B:"undergroundbiomes:igneous_cobble"=true
    B:"undergroundbiomes:igneous_sandstone"=true
    B:"undergroundbiomes:metamorphic_brick"=true
    B:"undergroundbiomes:metamorphic_cobble"=true
    B:"undergroundbiomes:metamorphic_sandstone"=true
    B:"undergroundbiomes:sedimentary_sandstone"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


